<section class="py-5">
  <h1 class="display-3">
    Thank You
  </h1>
  <p class="lead">Your Diet is in your Dashboard, please log in.</p>
  <a href="/Login" class="btn btn-dark btn-lg">Login</a>
  <a href="/" class="btn btn-dark btn-lg">Go Back Home</a>
</section>